* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #dcd3d3;
}
nav {
    background: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 50px;
    min-height: 80vh;
}

section {
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

article {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}
header{
    background:#222;
    padding:15px 50px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a:hover{
    color:#00bcd4;
}

button{
    background:#007bff;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}
form{
    width:400px;
    margin:30px auto;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

textarea{
    resize:none;
    height:120px;
}
.blog-container{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.card h2{
    margin-bottom:10px;
}

.card:hover{
    transform:translateY(-5px);
}
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}